<h1 class = "heading"> Here you can create a new post </h1>



<% if @article.errors.any? %>
	<div id ="error_explanation">
		<div class = "alert alert-danger">
		  The form contains <%= pluralize(@article.errors.count, "error")%>:
		  </div>
		 

		  <ul>
		  	<% @article.errors.full_messages.each do |msg| %>
		  		<li> <%= msg %> </li>
		  		<%end %>
		  </ul>
		  
		  		</div>
		  		<% end %>



<%= form_for :article, url: articles_path do |f| %>

<%= f.label :title %> <br>
<%= f.text_field :title %> <br> <br>


<%= f.text_area :body%> <br> <br>

<%= f.submit class: "btn btn-primary lg"%> 
<%= link_to "Back", root_path, class: "tool btn btn-primary" %>

<% end %>



