<h1 class = "heading "> Show Post </h1>

<!-- Bootstrap flash success messag with remove button -->
<% if flash[:success] %>
	<div class = "error_explanation">
		<div class = "alert alert-success">
		<a href="#" class="close" data-dismiss="alert">&times;</a>	
			<%= flash[:success]%>
		</div>
	</div>
<% end %>


<!--Specific article is shown-->
<div class = "article">	
	<div class = "article_title">
		<h1> <%= @article.title %> </h1>
		<p> <%= time_tag @article.created_at %>	 </p>
	</div>
	<p class = "article_body"> <%= @article.body%> </p>


<!--link at bottom of article-->
	<div class = "article_buttons">
		<%= link_to "Back", root_url, class: "tool btn btn-primary" %>
		<% if admin_signed_in? %>
			<%= link_to "Edit", edit_article_path(id: @article.id), class: "tool btn btn-primary" %>
			<%= link_to "Delete", article_path(id: @article.id), method: :delete, data: {confirm: "are you sure?"}, class: "tool btn btn-primary" %>
		<% end %>
	</div>
</div>


<!--Comment Error Message-->
		<% if flash[:danger] != nil%>
			<div class = "error_explanation" >
				<div class = "alert alert-danger">	
					This form contains <%= pluralize(flash[:danger].count, "error") %>:
				</div>
			</div>
				<ul id = "comment_errors">
					<% flash[:danger].each do |msg| %>
						<li> <%= msg %> </li>
					<% end %>	
				</ul>
		<% end %>

<div class = "add_comment">
	<h4> Add a comment! </h4>
</div>

<!--Comment form for particular post-->
<%= form_for ([@article, @comment]) do |f| %>

<div class = "comment_form">
	<%= f.label "Name"%> <br>
	<%= f.text_field :name, class: 'forms' %>

	<br>

	<%= f.label "Comments"%> <br>
	<%= f.text_area :body, class:  'forms' %>

	<br> 

	<%= f.submit "Submit", class: 'btn btn-primary'%>
	<% end %>

</div>

<!--Display all comments for the particular article-->
<h5>There are <%= pluralize(@article.comments.count, "comment")%>: </h5>

<div class = "comments container-fluid">
	<% @article.comments.each do |msg| %>
		<div class = "row comment_single">
			<div class = "col-md-4 col-md-offset-1">
				<h5 class = "comment_user"> <%= msg.name %> </h5>
				<p class = "small_p"> <%= time_ago_in_words(msg.created_at) %></p>
				<p><%= msg.body %></p>
				


				
					<!--Comment link to delete comment if user is signed in-->
					<% if (user_signed_in? && (current_user.id == msg.user_id)) || admin_signed_in? %>
						<div>
							<%= link_to 'Delete', [@article, msg], method: :delete, data: { confirm: "are you sure?" }, class: "comment_btn"%>
						</div>
					<% end %>
			</div>
		</div>
<% end %>
</div>